# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =[1980, 1981, 1982, 1983, 1984, 1985].

In [ ]:
To create a list called years_list starting with the year of your birth and each year thereafter until the year of your fifth birthday, you can use the following code as an example:
birth_year = 1990  # Replace with your birth year
years_list = [birth_year + i for i in range(6)]

In this example, I assumed the birth year as 1990. Replace birth_year with your actual birth year in the code.

The range(6) generates a sequence of numbers from 0 to 5 (inclusive), which corresponds to the six years from your birth year until your fifth birthday.

The list comprehension [birth_year + i for i in range(6)] creates a new list where each element is obtained by adding birth_year to each value in the range. This results in a list years_list that contains the years from your birth year until your fifth birthday.

The years_list will contain the years in the desired sequence. For example, if your birth year is 1990, the years_list will be [1990, 1991, 1992, 1993, 1994, 1995].

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [ ]:
In the years_list created based on the previous question, your third birthday would be when you turn 2 years old. This is because you were 0 years old in your first year, 1 year old in your second year, and 2 years old in your third year.

To find the year in which your third birthday occurs, you can access the element at index 2 in the years_list using the following code:

years_list = [1990, 1991, 1992, 1993, 1994, 1995]  # Example years_list, replace with your own

third_birthday_year = years_list[2]
print(third_birthday_year)

Output: 1992
    
Therefore, in this example, your third birthday would have occurred in the year 1992.

# 3.In the years list, which year were you the oldest?

In [ ]:
To determine the year in which you were the oldest in the years_list, you need to find the maximum value in the list. The maximum value corresponds to the year when you were the oldest.

You can find the oldest year by using the max() function on the years_list. Here's an example:

years_list = [1990, 1991, 1992, 1993, 1994, 1995]  # Example years_list, replace with your own

oldest_year = max(years_list)
print(oldest_year)

Output:  1995

Therefore, in this example, the year 1995 is when you were the oldest based on the provided years_list.

# 4. Make a list called things with these three strings as elements: 'mozzarella', 'cinderella', 'salmonella'.

In [ ]:
To create a list called things with the three strings as elements: "mozzarella", "cinderella", and "salmonella", you can use the following code:
things = ["mozzarella", "cinderella", "salmonella"]

The resulting things list will look like this:
['mozzarella', 'cinderella', 'salmonella']

Each string is enclosed in quotes and separated by commas within the square brackets, indicating that they are elements of the list.

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [ ]:
To capitalize the element in the things list that refers to a person ("cinderella") and then print the updated list, you can use the capitalize() method. Here's an example:
things = ["mozzarella", "cinderella", "salmonella"]

things[1] = things[1].capitalize()
print(things)

In this code, things[1] accesses the second element of the list (index 1), which is "cinderella". The capitalize() method is called on this element to capitalize the first letter.

The output will be:
['mozzarella', 'Cinderella', 'salmonella']
As you can see, the element "cinderella" has been changed to "Cinderella" in the list. The capitalize() method modified the string in place, capitalizing the first letter.

# 6. Make a surprise list with the elements "Groucho" ,"Chico" and "Harpo".

In [ ]:
To create a list called surprise with the elements "Groucho", "Chico", and "Harpo", you can use the following code:
surprise = ["Groucho", "Chico", "Harpo"]
In this code, a list named surprise is created with the three strings as elements.

The resulting surprise list will look like this:
['Groucho', 'Chico', 'Harpo']
Each string is enclosed in quotes and separated by commas within the square brackets, indicating that they are elements of the list.

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [ ]:
To lowercase the last element of the surprise list, reverse it, and then capitalize it, you can use the following code:
surprise = ["Groucho", "Chico", "Harpo"]

last_element = surprise[-1].lower()  # Lowercase the last element
reversed_element = last_element[::-1]  # Reverse the element
capitalized_element = reversed_element.capitalize()  # Capitalize the reversed element

surprise[-1] = capitalized_element  # Update the last element in the list

print(surprise)
 
In this code, surprise[-1] accesses the last element of the list, which is "Harpo". The lower() method is called to convert it to lowercase. Then, the [::-1] slicing technique is used to reverse the string. Finally, the capitalize() method is called to capitalize the reversed element.

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [ ]:
To create an English-to-French dictionary called e2f with the provided starter words and print it, you can use the following code:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

In this code, a dictionary named e2f is created with the English words as keys and their corresponding French translations as values.
Output:
{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [ ]:
In the e2f dictionary provided, the French word for "walrus" is "morse". Here's how you can access it:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

french_word = e2f["walrus"]
print(french_word)

Output:  morse
Therefore, in the e2f dictionary, the French word for "walrus" is "morse".

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [ ]:
To create a French-to-English dictionary called f2e from the existing e2f dictionary using the items() method, you can use the following code:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

f2e = {french: english for english, french in e2f.items()}

print(f2e)

In this code, a new dictionary f2e is created using a dictionary comprehension. The items() method is used on the e2f dictionary to iterate over its key-value pairs. For each key-value pair, the French word is taken as the key and the English word is taken as the value in the f2e dictionary.
Output:
{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

In [ ]:
To print the English version of the French word "chien" using the f2e dictionary, you can access the value corresponding to the key "chien". Here's how you can do it:
f2e = {
    "chien": "dog",
    "chat": "cat",
    "morse": "walrus"
}

english_word = f2e["chien"]
print(english_word)

Output:  dog
Therefore, in the f2e dictionary, the English version of the French word "chien" is "dog".

# 12. Make and print a set of English words from the keys in e2f.

In [ ]:
To create and print a set of English words from the keys in the e2f dictionary, you can use the set() function along with the keys() method. Here's an example:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

english_words = set(e2f.keys())
print(english_words)

The e2f.keys() method returns a view object containing the keys of the e2f dictionary. The set() function is used to convert this view object into a set, which contains unique elements.

The output will be:  {'dog', 'cat', 'walrus'}
As you can see, the set english_words contains the English words present as keys in the e2f dictionary.

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [ ]:
To create the multilevel dictionary life with the specified structure, you can use the following code:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)
  
In this code, a dictionary named life is created with the top-level keys as 'animals', 'plants', and 'other'. The 'animals' key refers to another dictionary with the keys 'cats', 'octopi', and 'emus'. The 'cats' key refers to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. The remaining keys 'octopi', 'emus', 'plants', and 'other' refer to empty dictionaries.

The output will be:  {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}
The life dictionary is printed, showing the nested structure with the specified keys and values.

# 14. Print the top-level keys of life.

In [ ]:
To print the top-level keys of the life dictionary, you can use the keys() method. Here's an example:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

top_level_keys = life.keys()
print(top_level_keys)

The keys() method returns a view object containing the keys of the life dictionary. By printing this view object, you can see the top-level keys.

The output will be:  dict_keys(['animals', 'plants', 'other'])
As you can see, the top-level keys of the life dictionary are 'animals', 'plants', and 'other'.

# 15. Print the keys for life["animals"].

In [ ]:
To print the keys for the 'animals' sub-dictionary within the life dictionary, you can access it using the key 'animals' and then use the keys() method. Here's the code:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

animal_keys = life['animals'].keys()
print(animal_keys)

The life['animals'] expression accesses the value associated with the key 'animals', which is a dictionary. Then, the keys() method is used on this dictionary to get the keys within the 'animals' sub-dictionary.

The output will be:   dict_keys(['cats', 'octopi', 'emus'])
As you can see, the keys within the 'animals' sub-dictionary are 'cats', 'octopi', and 'emus'.

# 16. Print the values for life['animals']['cats']

In [ ]:
To print the values for life['animals']['cats'], you can directly access this nested list using the provided keys. Here's the code:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

cat_values = life['animals']['cats']
print(cat_values)

The expression life['animals']['cats'] retrieves the value associated with the keys 'animals' and 'cats', which is a list containing the names of the cats.

The output will be:   ['Henri', 'Grumpy', 'Lucy']
As you can see, the values for life['animals']['cats'] are the names of the cats: 'Henri', 'Grumpy', and 'Lucy'.